body {
  font: 16px Arial, sans-serif;
  background-color: lightblue;
  color: #333333;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  background-color: gainsboro;
  padding: 20px;
  box-shadow: 0 0 1px black;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.judul {
  font-size: 30px;
  margin: 10px 0;
  text-align: center;
}
.navbar{
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px black;
  text-align: center;
}
.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}
.video-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

video {
  width: 100%;
  max-width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #999;
}

.sapaan {
  margin-top: 30px;
  padding: 15px;
  background-color: #f9f9f9;
  border-left: 4px solid steelblue;
  border-radius: 5px;
}

.sapaan h3 {
  margin-top: 0;
  color: #004080;
}

.footer {
  text-align: center;
  margin-top: 40px;
  color: #666;
  font-size: 14px;
}