body {
  font: 16px Arial, sans-serif;
  background-color: lightblue;
  color: #333333;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  background-color: gainsboro;
  padding: 20px;
  box-shadow: 0 0 1px black;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.judul {
  font-size: 30px;
  margin: 10px 0;
}
.navbar {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px black;
  text-align: center;
}
.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.profil h2 {
  text-align: center;
  margin-top: 30px;
}
.content h2 {
  text-align: center;
  color: steelblue;
  margin-top: 10px;
}

.content p {
  text-align: center;
}
.content2 {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 15px;
}
.sub-line {
  width: 400px;
  border: 1px solid blue;
  margin: 10px auto;
}

.foto {
  text-align: center;
  margin: 20px 0;
  height: 300px;
  width: auto;
}
.isi {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px black;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
}

table td {
  padding: 10px;
  border: 1px solid #aaa;
}

.footer {
  text-align: center;
  margin-top: 30px;
}
.footer a {
  text-decoration: none;
  color: black;
}

.footer-line {
  width: 40%;
  border: 1px solid gray;
  margin: auto;
}
.penulis a {
  color: black;
  text-decoration: none;
}
